# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env
*.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mongo dump files
dump/

# Backup files
*.bak
*.swp
*.tmp

